@import helper._
@import models.SearchDto
@import views.html.main
@(searchDto: Form[SearchDto]
)(implicit request: Http.Request
  , messages: play.i18n.Messages,searchId : Integer)
@main("Search Page",searchId) {
  @helper.form(action = routes.SearchController.displaySearchResults()) {
    @* CSRF TOKEN SUPPORT *@
    <form>
      <div class="col-xs-6" id="div1">
        <div class="form-group">
          <div class="col-sm-5">
        @inputRadioGroup(
          searchDto("searchType"),
          options(Seq("Search By Movie Name","Search By Multiplex Name")),
          '_label -> "Search Type", 'v -> "-- Select Search Type --",
          'onChange->"return validatSearchDetails()")
            <span id="invalidSearchType" style = "font-size: 15px; font-weight: bold;color:red;display:none;">
              Please Choose the Search Type
            </span>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-5">
          @inputText(searchDto("searchParam"),Symbol("_label") -> "Search Text",
            Symbol("placeholder") -> "Ex: Visvasam",
            'onChange->"return validatSearchDetails()")
            <span id="invalidSearchParam" style = "font-size: 15px; font-weight: bold;color:red;display:none;">
              Please Enter the valid Search Term
            </span>
          </div>
        </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-success" id="searchSubmit" disabled="true">Search</button>
        </div>
      </div>
      </div>
    </form>
    <span id="note" style = "font-size: 15px; font-weight: bold;color:red;">
      Please Note After valid Input Only Submit Button will be enabled.
    </span>
  }
}