@import helper._
@import views.html.main
@(allotmentDto: Form[AllotmentDto]
)(implicit request: Http.Request
  , messages: play.i18n.Messages,allotId : Integer,movieOptionsList : List[String],
        multiplexList : List[String],screenList : List[String])
@main("Edit Allotment Details",allotId) {
  @helper.form(action = routes.AllotmentController.saveAllotmentDetails(allotId)) {
    @* CSRF TOKEN SUPPORT *@
    <form>
      <div class="col-xs-6" id="div1">
        <div class="form-group">
          <div class="col-sm-5">
            @select(allotmentDto("multiplexName"),options = options(multiplexList),'_label -> "Multiplex's Available",
              '_showConstraints -> false,
              'onChange->"validateAllotmentDetails();getScreenNamesForMultiplex()")
            <span id="invalidMultiplexName" style = "font-size: 15px; font-weight: bold;color:red;display:none;">
              Please Select the Movie Name
            </span>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-5">
            @select(allotmentDto("movieName"),options = options(movieOptionsList),'_label -> "Movie's Available",
              '_showConstraints -> false,
              'onChange->"return validateAllotmentDetails()")
            <span id="invalidMovieName" style = "font-size: 15px; font-weight: bold;color:red;display:none;">
              Please Select the Movie Name
            </span>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-5">
            @inputDate(allotmentDto("availableFrom"),Symbol("_label") -> "Available From",
              Symbol("placeholder") -> "Ex: 21/04/2020",
              'onChange->"return validateAllotmentDetails()")
            <span id="invalidAvailableFrom" style = "font-size: 15px; font-weight: bold;color:red;display:none;">
              Please Enter the Available From Date
            </span>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-5">
            @inputDate(allotmentDto("availableTo"), Symbol("_label") -> "Available To",
              Symbol("placeholder") -> "Ex: 21/06/2020",
              'onChange->"return validateAllotmentDetails()")
            <span id="invalidAvailableTo" style = "font-size: 15px; font-weight: bold;color:red;display:none;">
              Please Enter the Available To Date
            </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-5">
          @select(allotmentDto("screenName"),options = options(screenList),'_label -> "Allot to Screen",
            '_showConstraints -> false,
            'onChange->"return validateAllotmentDetails()")
          <span id="invalidScreenName" style = "font-size: 15px; font-weight: bold;color:red;display:none;">
            Please Select the Screen Name
          </span>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-success" id="allotmentSubmit" disabled="true">Update</button>
        </div>
      </div>
    </form>
    <span id="note" style = "font-size: 15px; font-weight: bold;color:red;">
      Please Note After valid Input Only Submit Button will be enabled.
    </span>
    </body>

  }
}