@import models.MultiplexDto
@import views.html.main
@(multiplexDet : List[ MultiplexDto],multiplexId : Integer)
@main("Multiplex Details",multiplexId) {
  <br>
  <br>
  <h2> Multiplex Available </h2>
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-12 table-responsive">
        <table class="table table-striped table-bordered">
          <thead class="thead-dark">
            <tr>
              <th>Multiplex Id</th>
              <th>Multiplex Name</th>
              <th>Multiplex Address</th>
              <th>No. Of Screens</th>
              <th>Ticket Cost</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
          @for(multi <- multiplexDet) {
            <tr>
              <th scope="row">@multi.multiplexId</th>
              <td>@multi.multiplexName</td>
              <td>@multi.multiplexAddress</td>
              <td>@multi.noOfScreens</td>
              <td>@multi.ticketCost</td>
              <td>
                <a href="@routes.MultiplexController.editMultiplexDetails(multi.getMultiplexId)" class="btn btn-primary btn-md">
                  <span class="glyphicon glyphicon-pencil"></span> Edit
                </a>
              </td>
              <td>

                <a href="@routes.MultiplexController.removeMultiplexById(multi.getMultiplexId)" class="btn btn-danger btn-md">
                  <span class="glyphicon glyphicon-remove-circle"></span> Delete
                </a>
              </td>
            </tr>
          }
          </tbody>
        </table>
      </div>
    </div>
  </div>
}